[project]
name = "toolbox-core"
dynamic = ["version"]
readme = "README.md"
description = "Python Base SDK for interacting with the Toolbox service"
license = {file = "LICENSE"}
requires-python = ">=3.10"
authors = [
    {name = "Google LLC", email = "googleapis-packages@google.com"}
]

dependencies = [
    "pydantic>=2.7.0,<3.0.0",
    "aiohttp>=3.8.6,<4.0.0",
    "deprecated>=1.2.15,<2.0.0",
    "google-auth>=2.0.0,<3.0.0",
    "requests>=2.19.0,<3.0.0"
]

classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]

# Tells setuptools that packages are under the 'src' directory
[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.dynamic]
version = {attr = "toolbox_core.version.__version__"}

[project.urls]
Homepage = "https://github.com/googleapis/mcp-toolbox-sdk-python/blob/main/packages/toolbox-core"
Repository = "https://github.com/googleapis/mcp-toolbox-sdk-python.git"
"Bug Tracker" = "https://github.com/googleapis/mcp-toolbox-sdk-python/issues"
Changelog = "https://github.com/googleapis/mcp-toolbox-sdk-python/blob/main/packages/toolbox-core/CHANGELOG.md"

[project.optional-dependencies]
test = [
    "black[jupyter]==26.1.0",
    "isort==7.0.0",
    "mypy==1.19.1",
    "pytest==9.0.2",
    "pytest-aioresponses==0.3.0",
    "pytest-asyncio==1.3.0",
    "pytest-cov==7.0.0",
    "pytest-mock==3.15.1",
    "google-cloud-secret-manager==2.26.0",
    "google-cloud-storage==3.9.0",
    "aioresponses==0.7.8"
]
[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ['py310']

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true
disallow_incomplete_defs = true
